body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

dialog {
    border: 0
}

header {
    display: flex;
    flex-direction: row;
}

header.inside-dialog {
    flex-direction: row-reverse;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
}

header ul li {
    list-style: none;
}

header ul {
    padding: 0;
    margin: 0;
}

header button {
    border: 0;
    font-size: 32px;
    padding: 1rem;
    background-color: #fff9;
    border-radius: 50%;
    cursor: pointer;
}

#chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    flex-direction: column-reverse;
    display: flex;
}

#manual-container {
    max-width: 70vw;
    max-height: 70vh;
}


#manual-container img {
    display: block;
    max-width: 100%;
}

#messages-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.avatar,
.message {}

.message img {
    width: 100%;
}

.user-message {
    align-self: flex-end;
    background-color: #bbff0086;
}

.system-message {
    align-self: center;
    color: #888;
}

#message-editor {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

#send-button {
    cursor: pointer;
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.card {
    display: grid;
    grid-template-columns: 70px auto;
    max-width: 70%;
    align-self: flex-start;
}

.card.myself {

    align-self: flex-end;
}

.card .message {
    background-color: #2d9dff8b;
    border-radius: 1rem;
    padding: 1rem;
}

.card.myself .message {
    background-color: #cddc3969;
}

.user-name {
    font-size: 0.7rem;
}

.picture img {
    display: block;
    width: 100%;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


span.d20 {
    background-size: 64px;
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    line-height: 64px;
    font-size: 20px;
    font-weight: 800;
}